<ion-content [fullscreen]="true" class="ion-padding">

  <div style="padding-top: 30%;">

    <div class="imgContent">
      <ion-img src="assets/images/logo.png" class="imgLogo"></ion-img>
    </div>

    <ion-text>
      <p class="titleSingup">Bienvenue</p>
      <p class="subSignup">Connectez-vous</p>
    </ion-text>

    <div style="font-size: 13px;">

    <form [formGroup]="loginForm" novalidate>

      <div *ngIf="testValidation" class="text-danger">
        <p class="text-danger text-center"> Veuillez remplir tous les champs </p>
      </div>



      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput formControlName="emailorphone" (keypress)="eventHandler($event)"
        pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$|(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+)" placeholder="Numéro de téléphone">
        <mat-icon matPrefix>phone_iphone</mat-icon>
      </mat-form-field>
      <div *ngIf="loginFormErrors.emailorphone.notfound">
        <p style="color:red">Identifiant ou mot de passe invalide. </p>
      </div>
      <div *ngIf="messageSpace">
        <p style="color:red;font-size: 13px;font-weight: 400;">{{messageSpace}}</p>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Mot de passe">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
         <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       </button>
      </mat-form-field>

      <!--<ion-text>
        <p style="text-align: center;color: #2D8CF6;" [routerLink]="'/password'"></p>
      </ion-text>-->

      <div align="center">
        <button style="text-align: center;color: #2D8CF6;font-size: 13px;" [routerLink]="'/password'" mat-button>Mot de passe oublié?</button>
      </div>

      <div>
        <!--<ion-button expand="block" [disabled]="onLoadForm" type="submit" (click)="onLogin()">Se connecter</ion-button>-->
        <button mat-raised-button class="btn-log" type="submit" (click)="onLogin()">Se connecter</button>
      </div>

    </form><!--form-->

    </div>

     <div>
      <p class="text-barre"> <span *ngIf="ios">Se connecter avec</span></p>
     </div>

     <ion-text>
      <p style="text-align: center;font-size: 12px;">Pas de compte?<button style="text-align: center;color: #2D8CF6;font-size: 13px;" [routerLink]="'/sign-up'" mat-button>S'inscire</button></p>
     </ion-text>

     <!--<div style="text-align: center;" *ngIf="ios">
      <button mat-raised-button class="btnlogin"><i class="fa-brands fa-apple" style="padding-bottom: 5px;font-size: 20px;"></i> Sign in with Apple</button>
     </div>-->

  </div><!--div-->

</ion-content>
