

<div>
 <p style="font-size: 14px;">
  Veuillez créer votre carte de fidélité!
 </p>
 <ion-button expand="block"  mat-dialog-close [routerLink]="'/sign-up'">Créer une carte de fidélité</ion-button>
</div>
