<ion-content [fullscreen]="true" class="ion-padding">

  <div style="padding-top: 30%;">

    <div class="imgContent">
      <ion-img src="assets/images/logo.png" class="imgLogo"></ion-img>
    </div>

    <div>

      <form [formGroup]="signupForm" novalidate>

         <div *ngIf="!isEtape">
   
          <ion-text>
            <p class="titleSingup">
              <span class="icon-back" [routerLink]="'/login'"><mat-icon>arrow_back_ios</mat-icon><mat-icon style="position:relative;right: 16px;">arrow_back_ios</mat-icon></span>
              <span style="position: relative;right: 14px;">Inscription</span>
            </p>
            <!--<p class="titleSingup"></p>-->
            <p class="subSignup">Créer une carte de fidélité (Etape 1)</p>
          </ion-text>

          <div *ngIf="signupFormErrors.emailorphone.found" class="text-danger" style="font-size: 14px;text-align: center;">
            Ce compte existe déjà
         </div>
       
          <div style="font-size: 13px;">
       
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Nom </mat-label>
             <input matInput formControlName="nom" placeholder="Nom" required>
             <mat-icon matPrefix>person</mat-icon>
           </mat-form-field>
       
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Prénom </mat-label>
             <input matInput formControlName="prenom" placeholder="Prénom" required>
             <mat-icon matPrefix>person</mat-icon>
           </mat-form-field>
       
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Numéro de téléphone </mat-label>
             <input matInput formControlName="emailorphone" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$|(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+)" required placeholder="Numéro de téléphone">
             <mat-icon matPrefix>phone_iphone</mat-icon>
           </mat-form-field>
           <div *ngIf="signupForm.get('emailorphone').hasError(account_validation_messages.emailorphone[0].type) && ((signupForm.get('emailorphone').dirty || signupForm.get('emailorphone').touched) || (submitted))" class="text-danger">
            {{ account_validation_messages.emailorphone[0].message }}
           </div>
           
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Adresse </mat-label>
             <input matInput formControlName="adresse" placeholder="Adresse" required>
             <mat-icon matPrefix>person_pin</mat-icon>
           </mat-form-field>
       
           <div>
             <button mat-raised-button class="btn-log" (click)="nextEtape()">Suivant</button>
           </div>
       
          </div>
      
         </div>
      
         <div *ngIf="isEtape">
      
          <ion-text>
            <p class="titleSingup">Inscription</p>
            <p class="subSignup">Créer une carte de fidélité (Etape 2)</p>
          </ion-text>

          <div *ngIf="signupFormErrors.emailorphone.found" class="text-danger" style="text-align: center;font-size: 14px;">
            Ce numéro de téléphone existe déjà
          </div>
       
          <div style="font-size: 13px;">
       
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Genre </mat-label>
             <mat-select formControlName="genre" required>
              <mat-option value="Femme">Femme</mat-option>
              <mat-option value="Homme">Homme</mat-option>
            </mat-select>       
            <mat-icon matPrefix>wc</mat-icon>
           </mat-form-field>
       
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Age</mat-label>
             <input type="date" matInput formControlName="age" placeholder="Age" required>
             <mat-icon matPrefix>cake</mat-icon>
           </mat-form-field>
       
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Mot de passe </mat-label>
             <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
             <mat-icon matPrefix>lock</mat-icon>
             <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
           </mat-form-field>
           <div class="text-danger"  *ngIf="signupForm.get('password').hasError(account_validation_messages.password[0].type) && ((signupForm.get('password').dirty || signupForm.get('password').touched) || (submitted))">
             {{ account_validation_messages.password[0].message }}
           </div>
           <div class="text-danger" *ngIf="signupForm.get('password').hasError(account_validation_messages.password[1].type) && ((signupForm.get('password').dirty || signupForm.get('password').touched) || (submitted))">
            {{ account_validation_messages.password[1].message }}
           </div>
           <div class="text-danger" style="font-size: 11px;" *ngIf="signupForm.get('password').hasError(account_validation_messages.password[2].type) && ((signupForm.get('password').dirty || signupForm.get('password').touched) || (submitted))">
             Le mot de passe doit comporter au moins 8 caracteres,une lettre majuscule, une lettre minuscule et un chiffre.
           </div>
       
           <mat-form-field appearance="outline" class="example-full-width">
             <mat-label class="labelFrom">Confirmer mot de passe </mat-label>
             <input matInput formControlName="confirmpassword" [type]="hideC ? 'password' : 'text'">
             <mat-icon matPrefix>lock</mat-icon>
             <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
              <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
           </mat-form-field>
           <div *ngIf="(signupForm.get('confirmpassword').errors?.notEqual || signupForm.get('confirmpassword').value!=signupForm.get('password').value) &&  ((signupForm.get('confirmpassword').dirty || signupForm.get('confirmpassword').touched) || (submitted))">
              <p class="text-danger" style="font-size: 11px;">Les deux mot de passe ne correspondent pas</p>
           </div>
       
           <div>
             <!--<ion-button expand="block" [disabled]="onLoadForm" type="submit" (click)="onRegisterUser()" style="margin-bottom:10px;">Créer ma carte</ion-button>-->
             <button mat-raised-button class="btn-log" type="submit" (click)="onRegisterUser()" style="margin-bottom:10px;">Créer ma carte</button>
             <button mat-raised-button class="btn-pred" (click)="nextEtape()">Précédent</button>
           </div>
       
          </div>
      
         </div>

      </form><!--form-->

      


      <div *ngIf="ios">
       <p class="text-barre" [routerLink]="'/login'"> <span>Se connecter avec</span></p>
      </div>

      <div *ngIf="android">
        <p class="text-barre"> <span>Vous avez déjà un compte? <small style="color: #2D8CF6;font-size: 13px;" [routerLink]="'/login'">connectez-vous</small></span> </p>
       </div>
   
      <div style="text-align: center;" *ngIf="ios">
       <button mat-raised-button class="btnlogin"  [routerLink]="'/login'"><i class="fa-brands fa-apple" style="padding-bottom: 5px;font-size: 20px;"></i> Sign in with Apple</button>
      </div>

    </div><!--div-->

  </div><!--div-->


</ion-content>
