.imgLogo{
    //width: 200px;
    height: 110px;
}

.imgContent{
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 50%;
}

.titleSingup{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}
.subSignup{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9A9797;
    text-align: center;
}

.example-full-width {
    width: 100%;
  }

  .labelFrom{
    color: #CECECE;
    font-size: 13px;
  } 

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    //background-color: white; //rgb(179, 177, 177);
    border-radius: 5px;
    color: rgb(179, 177, 177);
  }

  ion-button {
    --background: linear-gradient(91.85deg, #0C1733 2.48%, #236CBD 58.09%);
    --color: #fff;
    --border-radius:10px !important;
    height: 43px;
    text-transform: none;
  }

  .btn-pred{
    background: linear-gradient(91.85deg, #69f3a3 2.48%, #10ae58 58.09%);
    color: #ffffff;
    width: 100%;
    height: 43px;
    border-radius:10px !important;
    font-size: 17px;
  }

  .btn-log{
    background: linear-gradient(91.85deg, #0C1733 2.48%, #236CBD 58.09%);
    color: #fff;
    border-radius:10px !important;
    height: 43px !important;
    width: 100%;
    text-transform: none;
  }

  .icon-back{
    color: #49C120;
    position: relative;
    left: 4px;
    top: 4px;
  }

  .mat-select-value-text {
    color: #0d0c0c !important;
  }

  