.div_btn1{
    background: #52E34F;
    border-radius: 10px;
    color: #000000;
    font-size: 20px;
    width: 42px;
    height: 39px;
}

.example-full-width {
    width: 100%;
}

.btn-log{
    background: linear-gradient(91.85deg, #0C1733 2.48%, #236CBD 58.09%);
    color: #fff;
    border-radius:10px !important;
    height: 43px !important;
    width: 65%;
    text-transform: none;
  }

  .text_label{
    font-size: 14px;
    color: #323635;
}

.div_btn{
    background: linear-gradient(91.85deg, #0C1733 2.48%, #236CBD 58.09%);
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    width: 42px;
    height: 39px;
}