.roundCat{
    height: 50px;
    width: 55px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #f1f0f0;
    background-color: #fcfcfc;
}

.imground{ 
    width: 30px;
    border-radius: 25%;
    position: relative;
    top: 14px;
    left: 13px;
}

.p-text{
    color: #2E3E5C;
    font-weight: 500;
    font-size: 14px;
   }