/*ion-img::part(image){
    //@function: 0px 4px 7px rgba(0, 0, 0, 0.25) !important;
    //border-radius: 10px !important;
}*/

.example-full-width {
    width: 100%;
}

.labelFrom{
    color: #CECECE;
    font-size: 13px;
} 

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 5px;
    color: rgb(179, 177, 177);
}  

.roundCat{
    background: #F2F2F2;
    border-radius: 5px;
    padding: 5px;
    height: 65px;
    margin: 2px;
}

.roundCatGreen{
  background: #AFFFAD;
  border-radius: 5px;
  padding: 5px;
  height: 65px;
  margin: 2px;
}

.imgcat{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
}

.textcat{
    font-size: 12px;
    //font-weight: bold;
    text-align: center;
    //width: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.imgproduit{
    
    height: 65px;
    width: 65px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(241, 240, 240);
    position: relative;
    bottom: 5px;
}

.titleinfo{

    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #707073;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dnumber{
  margin-left: 38px;
  position: relative;
  bottom: 7px;
}

.card-content-md {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    //line-height: 1.5;
  }

  .titleclient{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #243665;
  }

  .titlenumber{
    color: #243665;
    font-style: normal;
    font-weight: 500;
    //font-size: 12px;
  }

  .content-card{
    /*padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 2px !important;*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 2px !important;
    position: relative;
    top: 2px;
    height: 76px;
  }

  .card-hd{
    height: 14% !important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CECECE;
    opacity: 1; /* Firefox */
    font-size: 12px;
  }

  /*.popover-content {
    border-radius: 10px;
    width: 100% !important;
    position: relative !important;
    left: 0% !important;
    height: 50% !important;
    top: 0% !important;
  }*/

  ion-popover {
    div.popover-content {
        top: 50% !important;
        left: 50% !important;
        width: 100% !important;
        transform: translate(-50%, -50%) !important;
  }
}

.img-header{
  position: relative;
  top: 10px;
  width: 34px;
  height: 32px;
  float: right;
  margin-right: 11px;
}