<div>
  <img src="data:image/png;base64,{{cadeau?.produit?.photo}}" class="imgImage" *ngIf="cadeau?.produit?.photo">
  <img src="assets/images/icon.png" class="imgImage" *ngIf="!cadeau?.produit?.photo">
</div>
