<ion-content [fullscreen]="true" class="ion-padding">

  <div (click)="dismiss()">
    <button mat-stroked-button class="btn-back"><mat-icon style="color: #000000;">keyboard_arrow_left</mat-icon></button>
    <ion-text style="color:#323635;font-weight: 700;"><p class="txt-title">Liste des cadeaux</p></ion-text>
  </div>

  <div>
    <ion-list>
      <ion-card class="card-hd" *ngFor="let cd of cadeaux">
        <ion-card-content class="content-card" >
          <ion-grid>
            <ion-row>
              <ion-col>
                
                  <img src="data:image/png;base64,{{cd?.produit?.photo}}" class="imgproduit" *ngIf="cd?.produit?.photo" (click)="openDialogCadeauImage(cd?._id)">
                  <img src="assets/images/icon.png" class="imgproduit" *ngIf="!cd?.produit?.photo" (click)="openDialogCadeauImage(cd?._id)">
                
              </ion-col>
              <ion-col (click)="openDialogCadeau(cd?._id)">
                <div style="position: relative;top:7px;">
                  <p class="titleclientprod" *ngIf="cd?.typeCadeau!='Livraison'">{{cd?.produit?.nom}}</p>
                  <p class="titleclientprod" *ngIf="cd?.typeCadeau=='Livraison'">({{cd?.nombreLivraison}}) Livraison</p>
                  <p style="color:#49C120;">Détail</p>
                  <!--<button mat-raised-button class="btnmodal" (click)="openDialogCadeau(cd?._id)"><span style="position:relative;bottom:5px;">Détail</span></button>-->
                </div>
              </ion-col>
              <ion-col style="text-align: right;" (click)="openDialogCadeau(cd?._id)">
                <p style="text-align: right;color: #363853;" class="titlenumber">{{cd?.point}} <small>Pts</small></p>
                <p style="text-align: right;color: #243665;">{{cd?.typesPoint?.nom}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
