
<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" pullingIcon="chevron-down-circle-outline"></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding">

    <ion-img  src="assets/images/sl1.jpg"></ion-img>
    <button mat-stroked-button class="btn-back" [routerLink]="'/tabs/dashboard'"><mat-icon style="color: #000000;">keyboard_arrow_left</mat-icon></button>
  </div>

  <div class="ion-padding" style="padding-top: 0px;">

    <ion-row>
      <ion-col class="ion-no-padding" (click)="callNumbres()">
        <div class="info_entreprise">
          <img src="assets/images/phone.png" class="phone-img">
          <p style="font-size: 11px;text-align: center;color: #243665;">Contact</p>
       </div>
       <!--<div>
        <p style="font-size: 10px;text-align: center;">{{entreprise?.phone1}}</p>
       </div>-->
      </ion-col><!--ion-col-->
      <ion-col class="ion-no-padding" (click)="openDialogAdresse()">
        <div class="info_entreprise">
          <img src="assets/images/Adresse.png" class="phone-img">
          <p style="font-size: 11px;text-align: center;color: #243665;">Adresse</p>
        </div>
        <!--<div>
          <p style="font-size: 10px;text-align: center;">{{entreprise?.adresse}}</p>
        </div>-->
      </ion-col><!--ion-col-->
      <ion-col class="ion-no-padding" (click)="detailAvoir()">
        <div class="info_entreprise">
          <img src="assets/images/Avoir.png" class="phone-img">
          <p style="font-size: 11px;text-align: center;color: #243665;">Mes avoirs</p>
        </div>
        <!--<div>
          <p style="font-size: 10px;text-align: center">Mes avoirs</p>
        </div>-->
      </ion-col><!--ion-col-->
      <ion-col class="ion-no-padding" (click)="presentModal()">
        <div class="info_entreprise">
          <img src="assets/images/gift-box.png" class="phone-img">
          <p style="font-size: 11px;text-align: center;color: #243665;">Cadeaux</p>
        </div>
        <!--<div>
          <p style="font-size: 10px;text-align: center">+ {{cadeau}}</p>
        </div>-->
      </ion-col><!--ion-col-->
    </ion-row>

    <p style="font-weight: bold;padding-top: 6px;color: #243665;">{{entreprise?.nom}}</p>

    <p style="font-size: 10px;" [ngClass]="{'limitTextHeight':isReadMore}" *ngIf="entreprise?.description">
        {{entreprise?.description}}
    </p>
    <div *ngIf=" entreprise?.description && entreprise?.description?.length > 73 ">
      <button mat-button (click)="showText()" class="btnShow">
        <span style="color: #52E34F;font-size: 12px;">{{ isReadMore ? 'Lire plus': 'Lire moins' }} <mat-icon style="position: absolute;top: 8px;" *ngIf="isReadMore">keyboard_arrow_down</mat-icon> <mat-icon style="position: absolute;top: 8px;" *ngIf="!isReadMore">keyboard_arrow_up</mat-icon> </span>
      </button>
    </div>


    <ion-row>
      <ion-col class="col-depense" (click)="openDialogEncaisse()">
        <div>
          <img src="assets/images/ribbon.png" class="img-r1">
          <span class="title1">Total points disponibles</span>
        </div>
        <div>
          <span class="number1">{{encaisse}}</span>
        </div>
        <span style="color:#52E34F;font-size: 12px;float: right;">Détail</span>

      </ion-col><!--ion-col-->

      <ion-col class="col-depense" (click)="openDialogDepense()">
        <div>
          <img src="assets/images/ribbon1.png" class="img-r1">
          <span class="title1">Total points dépensé</span>
        </div>
        <div>
          <span class="number1">{{depense}}</span>
        </div>
        <span style="color:#52E34F;font-size: 12px;float: right;">Détail</span>
      </ion-col><!--ion-col-->
    </ion-row><!--row-->

  </div><!--padding-->

  <div>
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="Cadeaux reçus">
        <div style="padding-top:20px;">
          <div class="ion-padding" align="center"  *ngIf="depenses==0">
            <img src="assets/images/no.png" class="imgno"/>
            <p style="font-size: 11px;text-align: center;">Vous ne disposez pas de points de fidélité pour ce commerce</p>
            <br/><br/>
          </div>

          <ion-list  *ngIf="depenses!=0">
                  <ion-row *ngFor="let dep of depenses">
                    <ion-col size="3">
                      <img src="data:image/png;base64,{{dep?.produit?.photo}}" class="imgproduit" *ngIf="dep?.produit?.photo">
                      <img src="assets/images/icon.png" class="imgproduit" *ngIf="!dep?.produit?.photo">
                    </ion-col>
                    <ion-col size="9">
                      <ion-item>
                        <div>
                          <p class="titleclient" *ngIf="dep?.produit?.nom">{{dep?.produit?.nom}}</p>
                          <p class="titleclient" *ngIf="!dep?.produit?.nom">Livraison</p>
                          <span class="titleinfo">{{dep?.creation | date: "MMMM dd YYYY"}}</span>
                        </div>
                        <div class="dnumber">
                          <p style="font-size: 13px;" class="titlenumber"><span style="color: #FF0024;">-</span>  {{dep?.point}}</p>
                        </div>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <br/><br/>
          </ion-list>
        </div>
      </mat-tab>
      <mat-tab label="Points reçus">
        <div style="padding-top:20px;">

          <div class="ion-padding" align="center"  *ngIf="encaisses==0">
            <img src="assets/images/no.png" class="imgno"/>
            <p style="font-size: 11px;text-align: center;">Vous ne disposez pas de points de fidélité pour ce commerce</p>
            <br/><br/>
          </div>

          <ion-list *ngIf="encaisses!=0">
            <ion-row *ngFor="let en of encaisses">
              <ion-col size="3">
                <img src="data:image/png;base64,{{en?.entreprise?.image}}" class="imgproduit">
              </ion-col>
              <ion-col size="9">
                <ion-item>
                  <div>
                    <p class="titleclient">Point {{en?.type}}</p>
                    <span class="titleinfo">{{en?.creation | date: "MMMM dd YYYY" }}</span>
                  </div>
                  <div class="dnumber">
                    <p style="font-size: 13px;" class="titlenumber"><span style="color: #52E34F;">+</span> {{en?.point}}</p>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
            <br/><br/>
           </ion-list>
        </div>
      </mat-tab>
      <mat-tab label="Cadeaux">
        <div style="padding-top:20px;">
          <ion-list>
                 <ion-row *ngFor="let cd of cadeaux">
                    <ion-col size="3">
                      <img src="data:image/png;base64,{{cd?.produit?.photo}}" class="imgproduit" *ngIf="cd?.produit?.photo" (click)="openDialogCadeauImage(cd?._id)">
                      <img src="assets/images/icon.png" class="imgproduit" *ngIf="!cd?.produit?.photo" (click)="openDialogCadeauImage(cd?._id)">
                    </ion-col>
                    <ion-col size="9">

                      <ion-item>
                        <div>
                          <p class="titleclient" *ngIf="cd?.produit?.nom">{{cd?.produit?.nom}}</p>
                          <p class="titleclient" *ngIf="!cd?.produit?.nom">Livraison</p>
                          <span class="titleclientp">Disponible</span>
                        </div>
                        <div class="dnumber1">
                          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>apps</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openDialogCadeau(cd?._id)">
                              <span>Détail</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="openDialog(cd?._id)">
                              <span>Voir Qr code</span>
                            </button>

                          </mat-menu>
                        </div>
                      </ion-item>
                    </ion-col>

                  </ion-row>
                  <br/> <br/>
          </ion-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>



  <!--<div class="ion-padding" *ngIf="((encaisse!=0)||(depense!=0))">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="twitter-like">
            <mat-spinner
                class="track"
                mode="determinate"
                value="100"
                diameter="60"
            >
            </mat-spinner>
            <mat-spinner color="primary" mode="determinate" diameter="60" [value]="encaisse"></mat-spinner>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p style="font-size: 12px">Gagnés</p>
            <p class="nbre-d">{{encaisse}}</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="twitter-like">
            <mat-spinner
                class="track"
                mode="determinate"
                value="100"
                diameter="60"
            >
            </mat-spinner>
            <mat-spinner color="warn" mode="determinate" diameter="60" [value]="depense"></mat-spinner>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p style="font-size: 12px">Dépensés</p>
            <p class="nbre-dd">{{depense}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <mat-tab-group dynamicHeight mat-align-tabs="center">
        <mat-tab label="Dépensé">
          <div class="example-small-box mat-elevation-z4">
            <ion-list>

              <ion-card class="card-hd" *ngFor="let dep of depenses">
                <ion-card-content class="content-card">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <img src="data:image/png;base64,{{dep?.entreprise?.image}}" class="imgproduit">
                      </ion-col>
                      <ion-col>
                        <div style="position: relative;bottom: 6px;">
                          <span class="titleinfo">{{dep?.creation | date: "MMM dd YYYY,THH:MM"}}</span>
                          <p class="titleclient">{{dep?.entreprise?.nom}}</p>
                          <p class="titleclientp" style="position: relative;bottom: 5px;">{{dep?.produit?.nom}}</p>
                        </div>
                      </ion-col>
                      <ion-col>
                        <p style="text-align: right;padding-top: 23px;" class="titlenumber"><span style="color: #FF0024;">-</span> {{dep?.point}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

            </ion-list>
          </div>
        </mat-tab>
        <mat-tab label="Encaissé">
          <div class="example-small-box mat-elevation-z4">
            <ion-list>

              <ion-card class="card-hd" *ngFor="let en of encaisses">
                <ion-card-content class="content-card">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <img src="data:image/png;base64,{{en?.entreprise?.image}}" class="imgproduit">
                      </ion-col>
                      <ion-col>
                        <div style="position: relative;bottom: 6px;">
                          <span class="titleinfo">{{en?.creation | date: "MMM dd YYYY,THH:MM"}}</span>
                          <p class="titleclient">{{en?.entreprise?.nom}}</p>
                          <p class="titleclientp" style="position: relative;bottom: 5px;">{{en?.type}}</p>
                        </div>
                      </ion-col>
                      <ion-col>
                        <p style="text-align: right;padding-top: 23px;" class="titlenumber"><span style="color: #52E34F;">+</span> {{en?.point}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

            </ion-list>
          </div>
        </mat-tab>
        <mat-tab label="Cadeaux">
          <div class="example-large-box mat-elevation-z4">
            <ion-list>
              <ion-card class="card-hd" *ngFor="let cd of cadeaux">
                <ion-card-content class="content-card">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <img src="data:image/png;base64,{{cd?.produit?.photo}}" class="imgproduit">
                      </ion-col>
                      <ion-col>
                        <div style="position: relative;top:7px;">
                          <span class="titleinfo">{{cd?.dateCreation | date: "MMM dd YYYY,THH:MM"}}</span>
                          <p class="titleclientprod">{{cd?.produit?.nom}}</p>
                          <p class="titleclientp" style="position: relative;bottom: 5px;">Disponible</p>
                        </div>
                      </ion-col>
                      <ion-col style="text-align: right;">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>apps</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="openDialogCadeau(cd?._id)">
                            <span>Détail</span>
                          </button>
                          <mat-divider></mat-divider>
                          <button mat-menu-item (click)="openDialog(cd?._id)">
                            <span>Voir Qr code</span>
                          </button>

                        </mat-menu>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>-->

  <!--<div class="ion-padding" *ngIf="((encaisse==0)&&(depense==0))" align="center">
    <img src="assets/images/no.png" class="imgno"/>
    <p style="font-size: 11px;text-align: center;">Vous ne disposez pas de points de fidélité pour ce commerce</p>
  </div>-->

</ion-content>
